<div class="header">
  <div class="left-menu">
    <img
      src="../../../assets/images/logotype-for-teal-bg-rgb.png"
      class="img-fluid main-logo"
    />
    <div class="menu-links">
      <a routerLink="#">Home</a>
      <a routerLink="/workflow">Workflow</a>
      <a routerLink="/acquisitions">Acquisitions</a>
      <a routerLink="/router-test">Router Test</a>
    </div>
  </div>

  <div class="right-menu">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="search"
      class="menu-icon"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="inbox"
      class="menu-icon"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="notifications"
      class="menu-icon"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="account_circle"
      class="menu-icon"
    ></mat-icon>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="menu"
      class="menu-icon"
    ></mat-icon>
  </div>
</div>
