<div class="container-fluid">
  <div class="row">
    <div class="top-page">
      <div class="row">
        <div class="col-md-4">
          <h2>Investment Detail</h2>
        </div>

        <div class="col-md-8">
          <div class="sort-area">
            <button type="button" class="custom-button">Create New</button>
            <button type="button" class="custom-button">
              Upload from .XLS File
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-accordion class="mat-accordion-custom">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Request Information </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="custom-form-field">
                <mat-label>Request Name</mat-label>
                <input matInput value="Nexus Investment" />
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="custom-form-field">
                <mat-label>Operational Entity</mat-label>
                <input matInput value="NovaFound Management" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Approving Division</mat-label>
                <select matNativeControl required>
                  <option value="volvo">Admin Division</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="custom-form-field">
                <mat-label>Approving BA</mat-label>
                <input matInput value="Approving BA" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Endorsing Division</mat-label>
                <select matNativeControl required>
                  <option value="volvo">Endorsing Division</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="custom-form-field">
                <mat-label>Endorsing BA</mat-label>
                <input matInput value="Endorsing BA" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="custom-form-field">
                <mat-label>Requester</mat-label>
                <input matInput value="Zoe Sullivan" />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="custom-form-field">
                <mat-label>Project Lead / Proposed By</mat-label>
                <input matInput value="Madison Wright" />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <select matNativeControl required>
                  <option value="volvo">Germany (DE)</option>
                </select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Curency</mat-label>
                <select matNativeControl required>
                  <option value="volvo">EUR</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="custom-form-field">
                <mat-label>Rate</mat-label>
                <input matInput value="2.3" />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Dates & Watch List </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-4">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Request Information </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Dates & Watch List </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-4">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Request Information </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mat-accordion-header">
            <mat-panel-title> Dates & Watch List </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
