<div class="sidebar">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="grid_view"
    class="sidebar-icon"
  ></mat-icon>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="monitoring"
    class="sidebar-icon"
  ></mat-icon>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="settings"
    class="sidebar-icon"
  ></mat-icon>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="verified"
    class="sidebar-icon"
  ></mat-icon>
</div>
