// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imma-client-primary: mat.define-palette(mat.$indigo-palette);
$imma-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$imma-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$imma-client-theme: mat.define-light-theme(
  (
    color: (
      primary: $imma-client-primary,
      accent: $imma-client-accent,
      warn: $imma-client-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($imma-client-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "NotoSans-Bold";
    src: url("assets/fonts//NotoSans/NotoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans-BoldItalic";
    src: url("assets/fonts/NotoSans/NotoSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "NotoSans-Italic";
    src: url("assets/fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "NotoSans-Light";
    src: url("assets/fonts/NotoSans/NotoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans-LightItalic";
    src: url("assets/fonts/NotoSans/NotoSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "NotoSans-Medium";
    src: url("assets/fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans-MediumItalic";
    src: url("assets/fonts/NotoSans/NotoSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "NotoSans-Regular";
    src: url("assets/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans-SemiBold";
    src: url("assets/fonts//NotoSans/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSans-SemiBoldItalic";
    src: url("assets/fonts//NotoSans/NotoSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'NotoSans-Regular';
}

* {
  margin: 0;
  padding: 0;


  --teal: #034e59; // original code color = #054E5A
  --white: #ffffff; // text, excell rows
  --gray: #a1a9b4;
  --gold: #e1b77e;

  --accent-green: #5d7875;
  --accent-light-green: #ced9d7;
  --accent-blue: #123f6d;

  --soft-peach: #f68363;
  --brick-red: #c03627;
  --grape-purple: #9e1f63;
  --grass-green: #4c9f70;
  --sky-blue: #add9f4;

  --black: #000000; // text

  --light-gray: #f0f3f3; // excell rows
  --excell-lines-gray: #a0a9b4;
  ---gray: #5c7875; // border buttons, arrows from excell
 
  // from zeplin
  --p: 19px;
  --menu: 17px;
  --h1: 33px;
  --h2: 27px;
  --h3: 22px;

  
}
